{
  "presets": [ [ "env", {"modules": false} ], "react", "stage-2"],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "React.createElement"
      }
    ],
    [
      "transform-es2015-spread",
      {
        "loose": true
      }
    ],
    ["transform-class-properties"],
    ["transform-es2015-destructuring"],
    ["transform-decorators-legacy"]
  ]
}
