{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "React.createElement"
      }
    ],
    ["transform-class-properties"],
    ["transform-decorators-legacy"]
  ]
}