@import "./default.scss";

$minheight: 100px;
@mixin XxY($x, $y) {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
}
@mixin flexColumnCenter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.__calendar {
  & ._calendar_content {
    min-width: 350px;
    // display: grid;
    display: flex;
    flex-direction: column;
    // grid-template-rows: repeat(7, minmax($minheight, 1fr));
    // grid-template-columns: repeat(7, minmax(50px, 1fr));
    min-height: 6*$minheight;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  & .__calendar_item_header {
    flex:1;
  }
  & .__calendar_item {
    // grid-column-start: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex:1;
    @include flexColumnCenter();
    &:nth-child(n) {
    }
  }
}
.__item_events {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.event {
  min-height: 20px;
  border: 1px solid red;
  width: inherit;
  display: inherit;
  &.hashead {
    border-left: none;
  }

  &.hastrail {
    border-right: none;
  }
  & .left-drag {
    min-width: 15px;
    content: "";
    &.hashead {
      display: none;
    }
  }

  & ._stretch {
    min-width: 15px;
    cursor: col-resize;
    &.right {
      cursor: e-resize;
    }
    &.left {
      cursor: w-resize;
    }
  }

  & .event-content {
    flex: 1;
  }
  &._temp{
    background-color: red;
    position: relative;
    &::after{
      position: absolute;
      content: " ";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #8e8c8cb0;
    }
  }
  &._hover{
    // position: absolute;
  }

}
.event-empty {
  width: 100%;
  flex: 1;
  min-height: 22px;
}

.__week{
  display: flex;
  min-height: 120px;
  width: 100%;
}
.__headers{
  display: flex;
  margin-bottom: 20px;
}

